body{
    display: flex; 
    flex-direction: column;
    align-items: center;
    
}
.bor{
      width: 300px;
    height: 100px;
    border: 5px orangered solid;
}

.point {
    width: 100px;
    height: 100px;
    background-color: orangered;
    animation: back linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes back {
    1% {
        margin-left: 0px;
    }

    50% {
        margin-left: 200px;
    }

    100% {
        margin-left: 0px;
    }
}
.heart {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img:hover {
    transform: scale(1.5);
    filter: grayscale(0);
    transition: 0.5s;
}

img {
    filter: grayscale(10);
    width: 350px;
    height: 350px;
    transition: 0.5s;
}
.main {
    transform: translate(0%, 50%);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px lightblue solid;
}

.main div {
    position: absolute;
    top: 50%;
    left: 50%;
}
.dot {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: black;
    transform: translate(-50%, -50%);
}

.hh {
    width: 80px;
    height: 6px;
    background-color: black;
    transform: translate(0, -50%) rotate(-180deg);
    transform-origin: 0 50%;
    animation: clock linear normal 423200s infinite;
}

.mm {
    width: 100px;
    height: 5px;
    background-color: grey;
    transform: translate(0, -50%) rotate(-180deg);
    transform-origin: 0 50%;
    animation: clock normal infinite linear 3600s;
}

.ss {
    width: 120px;
    height: 4px;
    background-color: red;
    transform: translate(0%, -50%) rotate(-180deg);
    animation: clock infinite 60s linear;
    transform-origin: 0 50%;
}

@keyframes clock {
    0% {
        transform: translate(0, -50%) rotate(180deg);
    }

    100% {
        transform: translate(0, -50%) rotate(540deg);
    }
}
.container{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 30%;
}
h1{
    position: absolute;
    z-index: -1;
    transform: translate(0, -100%);
    top: 50%;
}
.left_door{
    width: 300px;
    height: 300px;
    background-color: aqua;
    border: 2px solid rgb(0, 26, 255);
    transform-origin: left center ;
    transition: transform 1.5s;
}
.right_door{
    width: 300px;
    height: 300px;
    background-color: rgb(194, 233, 22);
    border: 2px solid rgb(0, 26, 255);
    transform-origin: right center ;
    transition: transform 1.5s;
}
.container:hover .left_door{
transform: perspective(1000px) rotateY(60deg);
}
.container:hover .right_door{
transform: perspective(1000px) rotateY(-60deg);
}