section{
    max-width: 1300px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.bar{
    display: flex;
}
.abo{
    display: flex;
}
.acc{
display: flex;
}